<div>
    <p>Link Title: <%= link.title %></p>
    <p>Link URL: <%= link.url %></p>
    <p>Read Status: <%= link.read %></p>
    <%= link_to "Edit Link", edit_link_path(link.id) %>
    <button class="Read-Button" data-url='<%= link.url %>'>Mark as Read</button>
</div>
