<%= form_for Link.new do |f| %>
<p><%= f.label :link_title %>: <%= f.text_field :title %></p>
<p><%= f.label :link_url %>: <%= f.text_field :url %></p>

<p><%= f.submit "Submit Link" %></p>
<% end %>

<% if current_user %>

<%= render @links %>
<% end %>
